<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "styles.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
</head>

<body>
    <div class="container">
        <header>
            <h1>{{ .Title }}</h1>
            {{ if .Page.Params.subtitle }}
            <h2>{{ .Page.Params.subtitle }}</h2>
            {{ end }}
        </header>
        {{ block "main" . }}{{ end }}
        <footer>
            <!-- {{ .Site.Copyright }} -->
        </footer>
    </div>
</body>

</html>