<!DOCTYPE html>
<html lang="en" class="{{range .PageClasses}}{{.}} {{end}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.Title}}</title>
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:site_name" content="Andrey Tarantsov">
    {{- if .Description}}
    <meta property="og:description" content="{{.Description}}">
    <meta property="og:type" content="article">
    {{else}}
    <meta property="og:type" content="website">
    {{end -}}
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="alternate" type="application/rss+xml" title="Zoocoding RSS Feed" href="/rss.xml">
    <script async defer data-domain="tarantsov.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    {{.Content}}
</body>

</html>
