<!DOCTYPE html>
<html lang="en" class="{{ with .Page.Params.page_classes }}{{range .}}{{.}} {{end}}{{end}}{{ block "rootclasses" . }}{{end}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "styles.scss" | toCSS | minify | fingerprint }}
    <style>{{ $styles.Content | safeCSS }}</style>
    <script async defer data-domain="tarantsov.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
    {{ block "main" . }}{{ end }}
</body>

</html>