:root {
    --bg-color: #fafafa;
    --text-color: #444;
    --text-color-dim: #555;
    --link-color: hsl(209, 59%, 34%);
    --link-color-hover: red;
    --link-color-active: blue;
    --link-color-active-bg: rgba(0, 0, 255, 0.16);
    --link-color-light: blue;
    --subtle-border-color: #777;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font:
        16px -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
    font-weight: 300;
    line-height: 1.66;
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 3rem 2rem 4rem;
}

/* https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
@media screen and (max-device-width: 1000px) {
    html,
    body {
        min-height: -webkit-fill-available;
    }
}

.container {
    max-width: 50ex;
    margin: 0 auto;
}

h1,
h2,
h3,
strong {
    font-weight: 500;
    color: var(--text-color-dim);
}
h1 {
    font-size: 2rem;
    margin: 1rem 0 1rem;
    font-weight: 400;
}
h2 {
    text-align: center;
    font-size: 1.66rem;
    margin: 2rem 0 1rem;
}
h3 {
    font-size: 1.3rem;
    margin: 1.2rem 0 0.6rem;
}
p {
    margin: 0 0 0.66rem;
}

.page--jumbo body {
    font-size: 19px;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (min-width: 650px) and (min-device-width: 650px) {
    html {
        font-size: 18px;
    }
    .page--jumbo body {
        font-size: 20px;
    }
    body {
        padding: 3rem 4rem 4rem;
    }
    .container {
        max-width: 60ex;
    }
    .debug body {
        background: lightcyan;
    }
}
@media screen and (min-width: 800px) and (min-device-width: 800px) {
    html {
        font-size: 19px;
    }
    .page--jumbo body {
        font-size: 23px;
    }
    .debug body {
        background: greenyellow;
    }
}
@media screen and (min-width: 1020px) and (min-device-width: 1020px) {
    .page--jumbo body {
        font-size: 24px;
    }
    .debug body {
        background: lightsalmon;
    }
}

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color-light);
    background: transparent;
    transition:
        background 0.25s,
        border-color 0.25s;

    &:hover,
    &:active {
        border-color: transparent;
        background: var(--link-color-active-bg);
    }
}

p.lead {
    font-size: 1.33rem;
}

.cta {
    border: 1px solid var(--subtle-border-color);
    padding: 1rem;
    margin: 1.66rem 0;

    & header {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 400;
    }
}

img.hero {
    display: block;
    margin: 1em auto;
    height: 50vh;
}

.textnav {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}
.textnav--hero {
    margin-top: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.textnav__item {
    margin-right: 0.1em;
}
.textnav__item--active {
    font-weight: bold;
}
