:root {
    --bg-color: #fafafa;
    --text-color: #444;
    --text-color-dim: #555;
    --link-color: hsl(209, 59%, 34%);
    --link-color-hover: red;
    --link-color-active: blue;
    --link-color-active-bg: rgba(0, 0, 255, 0.16);
    --link-color-light: blue;
    --subtle-border-color: #777;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font:
        16px -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
    font-weight: 300;
    line-height: 1.66;
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 3rem 2rem 4rem;
}

/* https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
@media screen and (max-device-width: 1000px) {
    html,
    body {
        min-height: -webkit-fill-available;
    }
}

.container {
    max-width: 50ex;
    margin: 0 auto;
}

h1,
h2,
h3,
strong {
    font-weight: 500;
    color: var(--text-color-dim);
}
h1 {
    font-size: 2rem;
    margin: 1rem 0 1rem;
    font-weight: 400;
    line-height: 1.33;
}
h2 {
    text-align: center;
    font-size: 1.66rem;
    margin: 2rem 0 1rem;
}
h3 {
    font-size: 1.3rem;
    margin: 1.2rem 0 0.6rem;
}
p {
    margin: 0 0 0.66rem;
}

.page--jumbo body {
    font-size: 19px;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (min-width: 650px) and (min-device-width: 650px) {
    html {
        font-size: 18px;
    }
    .page--jumbo body {
        font-size: 20px;
    }
    body {
        padding: 3rem 4rem 4rem;
    }
    .container {
        max-width: 60ex;
    }
    .debug body {
        background: lightcyan;
    }
}
@media screen and (min-width: 800px) and (min-device-width: 800px) {
    html {
        font-size: 19px;
    }
    .page--jumbo body {
        font-size: 23px;
    }
    .debug body {
        background: greenyellow;
    }
}
@media screen and (min-width: 1020px) and (min-device-width: 1020px) {
    .page--jumbo body {
        font-size: 24px;
    }
    .debug body {
        background: lightsalmon;
    }
}

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color-light);
    background: transparent;
    transition:
        background 0.25s,
        border-color 0.25s;

    &:hover,
    &:active {
        border-color: transparent;
        background: var(--link-color-active-bg);
    }
}

p.lead {
    font-size: 1.33rem;
}

.cta {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.8rem;
    border: 1px solid var(--subtle-border-color);
    padding: 1.5rem 2rem;
    margin: 3rem 0;
    border-radius: 0.5rem;
}
.cta--subscribe {
    margin-top: 5rem;
}
.cta__title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}
.cta__intro {
    margin: 0;
}
.cta__input {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin: 0;
    width: 100%;
}
.cta__button {
    /*margin-top: 0.5rem;*/
    margin: 0;
    /*font-size: 1rem;*/
    /*padding: 0.5rem 1rem;*/
}
.cta__smallprint {
    font-size: 0.7rem;
    font-style: italic;
}

img.hero {
    display: block;
    margin: 1em auto;
    height: 50vh;
}

.page-header {
}
.page-header--blog {
}
.page-header--intro {
    margin: 2rem 0;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}
.page-header__desc {
    font-size: 0.9rem;
    font-style: italic;
}

.textnav {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}
.textnav--hero {
    margin-top: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.textnav__item {
    margin-right: 0.1em;
}
.textnav__item--current > a {
    border-bottom: none;
}
.textnav__item--active {
    font-weight: bold;
}
.textnav__item--active > a {
    color: inherit;
}

.blog-list {
    margin-top: 1.5rem;
}

.blog-item {
    display: block;
    margin-bottom: 2rem;
    /*background: yellow;*/
    /*line-height: 28px;*/
    line-height: 1.6;

    color: inherit;
    font-weight: inherit;
    border-bottom: none;
    transition: color 0.2s;

    &:hover {
        color: inherit;
        background: transparent;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.blog-item__title {
    font-size: 1rem;
    margin: 0 5rem 0.6rem 0;
    text-align: left;
    font-weight: 400;
}
.blog-item:hover .blog-item__title {
    color: var(--link-color);
}

.blog-item__date {
    float: right;
    display: flex;
    flex-flow: column;
    min-width: 3.5rem;
    min-height: 2.8rem;
    text-align: center;
    background: #f0f0f0;
    justify-content: center;
    line-height: 1;
    gap: 0.4rem;
    border-radius: 0.25rem;
    padding: 0.4rem 0.3rem;
    box-sizing: border-box;
    color: var(--text-color);
    margin-left: 1rem;
    margin-top: 0.1rem; /* align with first line */
}
.blog-item:hover .blog-item__date {
    color: var(--link-color);
}
.blog-item__date-day {
    font-size: 0.8rem;
    font-weight: 400;
}
.blog-item__date-year {
    display: block;
    font-size: 0.7rem;
    opacity: 0.7;
    line-height: 1.2;
}

.blog-item__summary {
    color: var(--text-color);
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    opacity: 0.9;
}
.blog-item__wordcnt {
    font-weight: 100;
}
