<!--<iframe
scrolling="no"
style="width:100%!important;height:220px;border:1px #ccc solid !important"
src="https://buttondown.com/andreyvit?as_embed=true"
></iframe>-->

<form
    class="cta cta--subscribe"
    action="https://buttondown.com/api/emails/embed-subscribe/andreyvit"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/andreyvit', 'popupwindow')"
>
    <div class="cta__title">Like what you see?</div>

    <p class="cta__intro">
        Get these posts delivered to your inbox. Not every week, no; only when I have something useful to say.
    </p>

    <!--<label for="bd-email">Enter your email</label>-->
    <input type="email" class="cta__input" name="email" id="bd-email"  placeholder="your@email.com" />

    <div class="cta__smallprint">
        <p>
            Here's where I'm supposed to promise not to spam you. Seriously, does that even make any sense? Has it ever? Sometimes the way the world works is just bizarre. So lemme say, unsubscribing will be a breeze when you're finally fed up with me.
        </p>

        <p>
            I want this to be a community, not just a newsletter, too, so you're verrrry welcome to reply to these emails.
        </p>
    </div>

    <button type="submit" class="cta__button">
        <b>Yes,</b> I want to get new Zoocoding posts over email
    </button>
</form>
