<nav class="textnav{{if .Variant}} textnav--{{.Variant}}{{end}}">
{{- range .MainNavItems -}}
    {{- if not .IsLink -}}
    <span class="textnav__item">
        {{.TextPrefix}}{{.TextCore}}{{.TextSuffix}}
    </span>
    {{- else -}}
    <span class="
        textnav__item
        {{if .IsCurrent}} textnav__item--current {{end}}
        {{if .IsActive}} textnav__item--active {{end}}
    ">
        {{.TextPrefix}}<a href="{{.LinkURL}}">{{.TextCore}}</a>{{.TextSuffix}}
    </span>
    {{- end -}}
{{- end -}}
</nav>
