{{- $menu := index $.Page.Site.Menus $.MenuName -}}
<nav class="textnav{{if $.Variant}} textnav--{{$.Variant}}{{end}}">
{{- range $.Page.Site.Menus.main -}}
    {{- if not (default true .Params.link) -}}
    <span class="textnav__item">
        {{ .Params.prefix | default "" }}{{ .Params.linked | default .Name }}{{ .Params.suffix | default "" }}
    </span>
    {{- else if $.Page.IsMenuCurrent $.MenuName . -}}
    <span class="textnav__item textnav__item--active">
        {{ .Params.prefix | default "" }}{{ .Params.linked | default .Name }}{{ .Params.suffix | default "" }}
    </span>
    {{- else -}}
    <span class="textnav__item">
        {{ .Params.prefix | default "" }}<a href="{{.URL}}">{{ .Params.linked | default .Name }}</a>{{ .Params.suffix | default "" }}
    </span>
    {{- end -}}
{{- end -}}
</nav>
